.u-text-center { //Dùng cho Phần tử bọc ngoài thẻ text h1, h2, p,...
    text-align: center;
} 

.u-margin-bottom-8 {
    margin-bottom: 8rem
} 

.u-margin-bottom-4 {
    margin-bottom: 4rem
} 

.u-margin-bottom-2 {
    margin-bottom: 2rem
} 

.u-margin-top-8 {
    margin-top: 8rem;
} 

.u-margin-top-10 {
    margin-top: 10rem;
}